.container {
    width: 500px;
    margin: 50px;
    padding: 50px;
}

.avatar {
    justify-items: center;
}

.followers {
    list-style: none;
}

.img {
    width: 250px;
    height: 250px;
}

.username {
    font-size: 28px;
}